<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613961737848-jagju6o321kl8kdd1k337dplie20vuen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613961737848-jagju6o321kl8kdd1k337dplie20vuen</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3ht8Hs4fiCsurCxUDSFMSycWx8ywSbA</string>
	<key>GCM_SENDER_ID</key>
	<string>613961737848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bekaCoding.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-83950</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-83950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613961737848:ios:25b436ed2e5d18a6152f8d</string>
</dict>
</plist>